* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
}

.custom-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-row {
  /* box-shadow: 0 2px 0 black; */
  background-color: #131313;
  font-family: "Roboto Flex", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
  color: #d8d8d8;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-row > * {
  flex: 1;
  text-align: center;
}

#header-row > * {
  flex: 1;
  text-align: center;
}

#header-row:nth-child(2) {
  margin-left: 16%;
}

.custom-toggle-able-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  display: none;
}

.custom-toggle-able-panel .custom-row {
  font-size: 12px;
  justify-content: flex-end;
}

.custom-toggle-able-panel .custom-row > * {
  flex: 1;
  text-align: center;
}

.sub-row-url {
  width: 160px;
  overflow-wrap: anywhere;
}

.sub-row-size {
  /* margin-left: 33%; */
}
