* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Chango", cursive;
  font-family: "Major Mono Display", monospace;
  text-decoration: underline #131313;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

#chart {
  height: 400px;
}

#preaching {
  font-family: "Chango", cursive;
  font-family: "Libre Caslon Display", serif;
  font-family: "Major Mono Display", monospace;
  font-family: "Merriweather", serif;
}

.custom-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-row {
  /* box-shadow: 0 2px 0 black; */
  background-color: #131313;
  font-family: "Roboto Flex", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
  color: #d8d8d8;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.danger-button {
  background-color: #dc3545;
}

.custom-row > * {
  flex: 1;
  text-align: center;
}

#header-row > * {
  flex: 1;
  text-align: center;
}

#header-row:nth-child(2) {
  margin-left: 10%;
}

.custom-accordion-button {
  border: none;
  background: none;
  /* padding: 3px 6px; */
  /* background-color: #131313;
  color: #d8d8d8;
  box-shadow: inset 2px 2px 2px rgb(228, 228, 228); */
  /* background-color: #4caf50; Green */
  color: white;
}

.custom-toggle-able-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-toggle-able-panel .custom-row {
  font-size: 12px;
  justify-content: flex-end;
}

.custom-toggle-able-panel .custom-row > * {
  flex: 1;
  text-align: center;
}

.sub-row-url {
  width: 160px;
  /* overflow-wrap: anywhere; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* text-overflow: ellipsis; */
}

.green-ify {
  box-shadow: inset 0 0 25px rgba(172, 255, 47, 0.556);
}

.red-ify {
  /* background-color: red; */
  box-shadow: inset 0 0 25px rgba(255, 0, 0, 0.483);
  /* box-shadow: inset 0 0 20px gold; */
}

.yellow-ify {
  box-shadow: inset 0 0 25px rgba(255, 166, 0, 0.419);
}
