*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 250px;
  height: 300px;
  background-color: #131313;
  font-family: "Roboto Flex", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Arial, sans-serif;
}

#popup {
  padding: 30px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  color: #d8d8d8;
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#dataTransferText,
#dataTransfer {
  font-weight: bold;
  font-size: 20px;
}

#emissionsText,
#emissions {
  font-weight: bold;
  font-size: 16px;
}

#dataTransfer,
#emissions {
  margin-bottom: auto;
}
